.containerProject h1, h2 {
    font-size: 35px;
    margin-top: 12px;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    color: white;
}

.slider {
    height: 70vh;
    width: 100% !important;
    overflow: hidden;
    margin: auto;
}

.awssld__content>img {
    height: auto!important;
}

.description {
    width: 61%;
    margin: 15px auto;
    text-align: left;
    font-size: 20px;
    color: #efebcb;
}

.list-tags {
    display: flex;
    width: 250px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    /* padding: 15px 0 0; */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.list-tags li {
    list-style: none;
    margin-top: 10px;
}

.list-tags a {
    color: #1f2235;
    background: rgba(255, 203, 132, 0.9);
    padding: 3px;
}

.btn-more {
    margin: auto;
    height: 80px;
    border-radius: 0;
    padding: 8px 20px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 1px;
    white-space: normal;
    vertical-align: top;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .4s ease;
    background-color: #1f2235;
    border: 1px solid rgba(255, 203, 132, 0.9);
    color: rgba(255, 203, 132, 0.9);
    text-transform: uppercase;
}

.containerProject a {
    text-decoration: none;
}

.containerProject p {
    line-height: 36px;
    font-family: 'Archivo', sans-serif;
}

.btn-container {
    margin: 40px auto;
    text-align: center;
    border-radius: 4px;
}

.btn-more:hover {
    color: #1f2235;
    border: 1px solid #ddd;
    background-color: rgba(255, 203, 132, 0.9);
}

.devices p {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
    width: 50px;
}

.devices i {
    color: rgba(255, 203, 132, 0.9);
    font-size: 25px;
}

@media (max-width: 900px) {
    .awssld__content>img {
        width: 100% !important;
        height: 100% !important;
    }
    .slider {
        height: auto;
        max-height: 200px;
        overflow: hidden;
    }
}