.header-home {
    display: flex;
    height: 100vh;
    background-color: #1f2235;
    background: url("https://www.hebergeur-image.com/upload/91.160.248.248-5f48f8fbf3378.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

.h1Home {
    color: #ffcb84e6;
    font-family: 'IBM Plex Mono', monospace;
}

.names {
    margin: 378px auto;
}

.hello {
    font-size: 45px;
    color: black;
    font-family: 'Anonymous Pro', monospace;
}

.developpeur {
    font-size: 55px;
}

.image-dev img {
    height: 100vh;
    /* padding: 0px 0px 0px 25px; */
    filter: drop-shadow(0 0 0.75rem #2f3451);
    /* opacity: 0.40; */
    width: 674px;
    margin-right: 21px;
}

.titleScroll1 {
    display: block;
    text-align: center;
    font-size: 25px;
    color: black;
    position: fixed;
    top: 87%;
    right: 8%;
}

.titleScroll2 {
    display: block;
    text-align: center;
    font-size: 25px;
    color: black;
    position: fixed;
    top: 85%;
    right: 8%;
}

.demo a {
    cursor: none;
    position: absolute;
    bottom: 31%;
    margin: auto;
    z-index: 2;
    display: inline-block;
    transform: translate(0, -50%);
    color: rgb(0, 0, 0);
    font: normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    background-color: rgb(255 247 247 / 14%);
}

/* .demo a:hover {
    opacity: .5;
} */

#section07 a {
    padding-top: 80px;
}

#section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
}

#section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

#section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}

#section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
}

@-webkit-keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb07 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#section10 a {
    padding-top: 60px;
}

#section10 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-sizing: border-box;
}

#section10 a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.text {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text p {
    padding: 25px;
    width: 60%;
    margin: auto;
    text-align: left;
    font-size: 20px;
}

.annimationTechnos {
    margin: auto;
    text-align: center;
    font-size: 55px;
}

.annimationLanguages {
    margin: auto;
    text-align: center;
    font-size: 55px;
}

.containerLanguage {
    margin: 10px auto;
    height: 55vh;
    overflow: hidden;
}

.containerLanguages {
    margin: 10px auto;
    height: 100vh;
    overflow: hidden;
}

.containerLanguages img {
    margin: 5% auto;
    width: 100%;
}

.imgLanguages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgLanguages img {
    text-align: center;
    width: 700px;
    margin: auto;
    max-height: 48vh;
}

.containerLanguagesAll {
    height: auto;
    width: 100%;
    background-color: #1f2235;
    /* background: url(../../Assets/images/bckground.jpg); */
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
}

/* .contain .containerLanguage:nth-child(odd) {
    margin: auto;
    text-align: right;
    font-size: 55px;
} */

@media (max-width: 900px) {
    .image-dev img {
        display: none;
    }
    .header-home {
        display: flex;
        height: 100vh;
        background-color: #1f2235;
        background: url("https://www.hebergeur-image.com/upload/91.160.248.248-5f48f94bd8721.jpg");
        background-position: 100% 47px;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        background-attachment: fixed;
    }
    .names {
        margin: auto;
        padding: 19px;
    }
    .hello {
        font-size: 30px;
        position: absolute;
        left: 16%;
        top: 30%;
        color: white;
    }
    .nodeJs {
        margin-top: 60px;
        /* max-height: 35vh; */
    }
    .nodeJs img {
        width: 300px;
        margin: 136px;
    }
    .containerLanguages {
        margin: 10px auto;
        height: 55vh;
        overflow: hidden;
    }
    .containerLanguages img {
        height: 25vh;
        overflow: hidden;
        margin: auto;
        width: 100%;
    }
    .imgLanguages img {
        text-align: center;
        width: 300px;
        margin: auto;
        max-height: 44vh;
    }
}