.footer {
    display: grid;
    grid-template-columns: 4fr 4fr;
    justify-content: left;
    margin-top: 40px;
    background: #313552;
    position: sticky;
    width: 100%;
    color: #ffffff;
    box-shadow: 0 3px 12px 8px rgb(46 51 83);
    font-family: 'Archivo', sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 7px;
}

.footer li {
    list-style-type: none;
}

.footer li i {
    /* color: white; */
    font-size: 28px;
}

.right_footer div {
    display: block;
}

.reseaux {
    display: flex;
    justify-content: space-evenly;
}

.fa {
    border-radius: 50%;
    width: 28px;
    text-align: center;
    padding: 7px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #070707;
    color: white;
}

.copy {
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    margin: 16px auto 0px auto;
}

nav ul li {
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}

nav ul li:hover {
    color: rgba(255, 203, 132, 0.9);
}