.footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    /* height: 120px; */
    margin-top: 10px;
    background: rgba(255, 203, 132, 0.9);
    position: sticky;
    width: 100%;
    color: #ffffff;
    box-shadow: 0 3px 12px 8px rgb(212 202 134 / 20%);
    font-family: 'Archivo', sans-serif;
    padding: 20px;
}

.footer li {
    list-style-type: none;
}

.footer li i {
    /* color: white; */
    font-size: 28px;
}

.right_footer div {
    display: block;
}

.reseaux {
    display: flex;
    justify-content: space-evenly;
}

.fa {
    border-radius: 50%;
    width: 28px;
    text-align: center;
    padding: 7px;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-github {
    background: #070707;
    color: white;
}

.footer nav {
    width: 50%;
}