body, html {
  scroll-behavior: smooth;
  background-color: #1f2235;
  color: beige;
  /* text-align: center; */
  /* overflow-x: hidden; */
  width: 100%;
}

.a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}