body {
    overflow-x: hidden;
    width: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.containerHight {
    padding-top: 100px;
}

.construction {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    margin-top: 150px;
}

@media (max-width: 900px) {
    /* .containerHight {
        padding-top: 40px;
    } */
    .construction {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        margin-top: 50px;
    }
}